/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    background-color: rgb(56, 59, 66);
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #171717;
    border-radius: 1rem;
}

img {
    max-width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* HEADER */

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header-title {
    padding: 1rem 2rem;
    color: lightblue;
    font-size: 3rem;
}

.header-text {
    padding: 1rem 10rem;
    color: aliceblue;
    font-size: 1.5rem;
}

/* CARDS */

#card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 1rem;
   
}

.card {
    flex-basis: calc((100% - 2rem) / 3);
    display: flex;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 1px solid white;
}

.card-photo {
    flex-basis: 30%;
}

.card-text {
    padding: 1rem;
}

.card-name {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card-role {
    padding-bottom: 0.5rem;
}

.card-email {
    color: aqua;
}