/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    background-color: rgb(56, 59, 66);
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #171717;
    border-radius: 1rem;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

/* HEADER */

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header-title {
    padding: 1rem 2rem;
    color: lightblue;
    font-size: 3rem;
}

.header-text {
    padding: 1rem 10rem;
    color: aliceblue;
    font-size: 1.5rem;
}

/* CARDS */

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 1rem;
   
}

.card {
    flex-basis: calc((100% - 2rem) / 3);
    display: flex;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 1px solid white;
}

.card-photo {
    flex-basis: 20%;
}

.card-text {
    padding: 1rem;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-name {
    
    font-size: 1.5rem;
    font-weight: bold;
}

.card-role {
    font-size: 1rem;
}

.card-email {
    color: aqua;
}

/* Form */

.form-container{
    text-align: center;
    padding-bottom: 2rem;
    color: white;
}

.input{
    margin: 0.2rem;
}

.button{
    margin-top: 0.2rem;
    background-color: grey;
    padding: 0.5rem;

}

/* RESPONSIVE */

/* Desktop Small*/

@media screen and (max-width:1300px) {


    .card {
        flex-basis: calc((100% - 1rem) / 2);
    }

    .header-text {
    padding: 1rem 5rem;
    font-size: 1.2rem;
}
}

/* tablet  e smartphone*/

@media screen and (max-width:820px) {

    .card {
        flex-basis: 100%;
    }

    .header-text {
    padding: 1rem 2rem;
    
}

}